# App
APP_PORT=8080

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=<db_name>  # nombre para la base ej dinosaur_db
DB_USERNAME=postgres
DB_PASSWORD=<password>  # password para levantar la db


# RabbitMQ
RABBITMQ_USERNAME=admin  #se usa admin para esta app
RABBITMQ_PASSWORD=admin  #se usa admin para esta app
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Scheduler
SCHEDULER_CRON=0 */10 * * * *   # c/ 10 minutos
